:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #131313;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  .package-name {
    font-size: 3.2em;
    line-height: 1.1;
    color: #fff;
  }
  
  .package-desc {
    max-width: 543px;
    text-align: center;
    opacity: 0.76;
  }
  
  .card {
    margin: 3rem 0 0;
    max-width: 1280px;
    width: 100%;
  }
  
  #app {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  main {
    display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  
  .btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  .btn:hover {
    border-color: #646cff;
  }
  
  .btn:focus,
  .btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    .btn {
      background-color: #f9f9f9;
    }
  }
  
  
  .flexi-fl-icon {
    font-size: 7rem;
    font-family: sans-serif;
    font-weight: 500;
    color: #fff;
  }
  
  .flip-letter {
    display: inline-block;
    transform: scaleX(-1);
  }
  
  
  .output-console {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui;
    margin: 2rem;
    white-space: normal;
    background: #ffffff08;
    border-radius: 20px;
    text-wrap: balance;
    position: relative;
  }


  :root {
  --bg: #0e0f11;
  --table-bg: transparent;
  --header-bg: #f0f0f01f;
  --row-hover: #b0b0b012;
  --border: #60606056;

  --text: #e5e7eb;
  --text-muted: #9ca3af;

  --radius: 12px;
}

  .table-wrapper {
  background: var(--table-bg);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text);
  font-size: 0.95rem;
  background: var(--table-bg);
  border-radius: var(--radius);
  border: 1px solid var(--border);
}


th,
td {
  padding: 14px 16px;
  border-bottom: 1px solid var(--border);

  p {
    margin: 0;
    display: inline-flex;
  }
  
}

/* Separadores verticales */
th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid var(--border);
}

thead {
  background: var(--header-bg);
}

th {
  padding: 14px 16px;
  text-align: left;
  font-weight: 600;
  background: var(--header-bg);
  color: #fff;
  border-bottom: 1px solid var(--border);
}

td {
  padding: 10px 16px;
  border-bottom: 1px solid var(--border);
}

tbody tr {
  transition: background 0.15s ease;
}

tbody tr:hover {
  background: var(--row-hover);
}

tbody tr:last-child td {
  border-bottom: none;
}

.tiptap {
  --purple-light: #d2bcff29;
  --purple: #535bf2;
  --black: #000;
  --white: #fff;
  --gray-1: #f0f0f0;
  --gray-2: #e0e0e0;
  --gray-3: #c0c0c0;

  outline: none;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  /* Code and preformatted text styles */
  /* code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--white);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  } */

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }

    /* List styles */
  ul,
  ol {
    padding: 0 1.25rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ul[data-type=taskList]{
    padding-left: 0;

    li {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    li[data-checked=true] > div > p {
      opacity: .5;
      text-decoration: line-through;
    }
  }

  ul[data-type="taskList"] li {
    & label {
      position: relative;
      padding-top: 0.275rem;
      padding-right: 0.5rem;

      input {
        width: 16px;
        height: 16px;
        margin: 0;
        accent-color: #8affd7;
      }
    }

    & > div {
      flex: auto;
    }
  }

  .special-box {
    position: relative;
    padding: 0 12px;
    display: inline-flex;

    &::before {
      content: "";
      position: absolute;
      height: calc(100% + 20px);
      width: 100%;
      border-inline: 1px dashed;
      left: 0;
      top: -10px;
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      left: -10px;
      width: calc(100% + 20px);
      border-block: 1px dashed;
    }

    &::before, &::after {
      border-color: #ffffff33;
      pointer-events: none;
    }
  }

  /* Table-specific styling */
  .tableWrapper table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: calc(100% - 12px);
    margin-left: 12px;
    margin-top: 12px;
    min-width: 100px;
    overflow-y: hidden;
    overflow-x: auto;

    td,
    th {
      border: 1px solid #6e6e6e;
      box-sizing: border-box;
      min-width: 1em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: #f0f0f030;
      font-weight: bold;
      text-align: left;
    }

    .selectedCell:after {
      background: #e0e0e024;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    .column-resize-handle {
      background-color: var(--purple);
      bottom: -2px;
      pointer-events: none;
      position: absolute;
      right: -2px;
      top: 0;
      width: 4px;
    }
  }

  .fl-table-cell-content > div > * {
    margin-bottom: 0;
  }

  .tableWrapper {
    overflow-x: auto;
    padding: 0 14px 14px;
    margin: 24px -14px 0px;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  .is-empty::before {
    color: #8a8a8aa8;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}