<aside style="
    height: 100vh;
    position: sticky;
    top: 0;
    width: 336px;
    padding: 3rem;
    border-right: 1px solid #151210;
">
    <strong style="margin-bottom: 1.75rem;display: flex;font-size: 1.5rem;font-family: sans-serif;">
    <span class="flip-letter">F</span>lexiUI</strong>
<nav>
    <a>Basic input</a>
    <a>Tags input</a>
    <a>Chips</a>
    <a>Tabs</a>
    <a>Dropdown</a>
    <a>Editable Table</a>
    <a class="primary-link">Quote</a>
    <a>Alert</a>
    <a>Card</a>
    <a>Button</a>
</nav>
</aside>