Contributions are welcome!

<div class="card rounded">
	<div class="card-body">
		<h2>Contribute</h2>
		<p>If you want to contribute to this project, you can do so by forking the repository and submitting a pull request.</p>
		<p>If you have any questions or need help, feel free to reach out to me on Twitter <a href="https://twitter.com/flexi-components" target="_blank">@flexi-components</a>.</p>
	</div>
</div>