.tags-field {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}


.tags-field-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  border-radius: 12px;

  &.editable-mode {
    padding: 16px;
    border: 1px solid #ffffff0f;
  }
}

  .tags-field-tags {
    --display: flex;
    --alignItems: center;
    --justifyContent: flex-start;
    --flexDirection: row;
    --flexWrap: wrap;
    --gap: 0.5rem;
    display: var(--display);
    align-items: var(--alignItems);
    justify-content: var(--justifyContent);
    flex-direction: var(--flexDirection);
    flex-wrap: var(--flexWrap);
    gap: var(--gap);
  }

  .css-var-tag {
    display: flex;
    flex-direction: column;
    background: #ffffff0a;
    color: #b2b2b2;
    font-size: 0.9rem;
    border-radius: 8px;
    overflow: hidden;
  }

  .tag-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 5px 9px;
    background: #ffffff0f;
  }

  .tag-header .label {
    font-size: 12px;
    color: #ffffffc4;
    font-weight: 500;
  }

  .tag-content {
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
    text-align: left;

    input:not([type="range"]) {
      outline: none;
      min-width: 28px;
      flex: auto;
      width: 100%;
      line-height: 1.1;
      padding: 12px;
      padding-left: 9px;
      height: 100%;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      font-family: monospace;
      position: absolute;
      background: transparent;
      border: none;
      font-size: inherit;
      color: inherit;
      opacity: 0;
    }

    /* &.tag-content--color {
        &.is-hex .editable-box {
            text-transform: uppercase;
        }
    } */

    &.tag-content--text, &.tag-content--url {
      overflow: hidden;

      .editable-box {
        padding-left: 9px;
      }
    }

    &.tag-content--text, &.tag-content--url {
      
  
      &.focus {
        input {
          opacity: 1;
        }
  
        .editable-box {
          visibility: hidden;
        }
      }
    }

    &.tag-content--color {
      input {
        padding-left: 0;
      }
    }
  }

  .input-container {
    flex: auto;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .editable-box {  
    --link-color: #b0b054;
    outline: none;
    min-width: 28px;
    flex: auto;
    line-height: 1.1;
    padding: 12px 12px 12px 0;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    font-family: monospace;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    
    .url-value {
      max-width: 214px;
      text-overflow: ellipsis;
      overflow: hidden;
      text-decoration: underline;
      color: var(--link-color);

      &.invalid {
        color: #ff798f;
      }
    }
    /* :global(a) {
      max-width: 214px;
      text-overflow: ellipsis;
      overflow: hidden;
      text-decoration: underline;
    } */

    &:empty:before {
        content: attr(placeholder);
        opacity: 0.5;
        z-index: -1;
    }

    /* &.with-unit::after {
        content: attr(data-unit);
        margin-left: 3px;
    } */
  }

  .editable-box--range {
    min-width: 51px;
    display: inline-flex;
    justify-content: center;   
  }

  /* .tag.bidimensional-tag .editable-box {
    box-shadow: 0 1px 0 0 #ffffff14;
  } */

  .tag-options-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    height: 16px;
    transform: rotate(90deg);
  }
  .tag-remove-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 4px;
    background: #ffffff0a;
    border-radius: 13px;
    height: 23px;
    width: 23px;
    transition: background 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;

    .remove-tag-icon {
      width: 11px;
      height: 11px;
    }

    &:hover {
      background: #ffffff12;
    }
  }

  .tag-key {
    margin-left: 9px;
  }

  .add-tags-input {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    box-shadow: none;
    flex: auto;

    &::placeholder {
      color: #ffffff40;
    }

    &.error {
      color: #ff798f;
    }
  }

  .error-badge {
    border-radius: 5px;
    color: #ff798f;
    padding: 5px 10px;
    background: #ff46650d;
    font-size: 14px;
  }

  .tags-field-input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .toggle-view {
    display: flex;
    align-items: center;
    padding: 4px;
    background: #ffffff05;
    border-radius: 6px;
  }

  .toggle-view button {
    padding: 3px 8px;
    font-size: 11px;
    color: #ffffff69;
    border-radius: 6px;
    background-color: transparent;
    transition: background-color 0.2s ease;
    border: none;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;

    &:hover {
      border-color: transparent;
    }

    &:focus {
      outline: none;
    }

    &.active {
      background-color: #ffffff0a;
      color: #ffffffcf;
    }
  }

  .tags-field-raw {
    position: relative;

    p {
      text-align: left;
      margin: 0;
      padding-right: 24px;
    }
  }

  .copy-button {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='1.75'%3E%3Cpath d='M3 19a2 2 0 0 1-1-2V2a2 2 0 0 1 1-1h13a2 2 0 0 1 2 1'/%3E%3Crect x='6' y='5' width='16' height='18' rx='1.5' ry='1.5'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border-radius: 0;
    border: none;
  }

  .color-box-label {
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 6px;
    border: 1px solid #ffffff1f;
  }

  .color-box-input {
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 4px;
    visibility: hidden;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &::-webkit-color-swatch, &::-moz-color-swatch {
        border: 0;
        border-radius: 4px;
    }

  }